/* Style the header */
header {
    background-color: var(header-black);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: var(primary-green);

  }
h2 {
    margin-top: 10px;
    margin-bottom: 0px;
    }
  
