<div>
    <div class="spinner-container" *ngIf="photos.length<=0">
        <mat-spinner class="albums-spinner"></mat-spinner>
    </div>
    <div *ngIf="photos.length>0">
    <ul class="photos-grid">
        <li *ngFor="let photo of photos">
            <app-photo-card  [photo]="photo"></app-photo-card>
        </li>
    </ul>
    </div>

    <mat-paginator [length]="100" [pageSize]="20" [pageSizeOptions]="[20, 30, 50]"
    (page)="getPhotosPage($event)" aria-label="Select page">
    </mat-paginator>

</div>
