<div class="album-card">
    <div class="album-card-border">
        <a routerLink="/photos/{{album['id']}}">
            <img class="album-card-image" [src]="'https://via.placeholder.com/150/00ff'" />
            <div class="text-container">
                <div title="album.title">
                    <h4>Title: <p>{{album?.title}}</p>
                    </h4>
                </div>
                <div title={userName}>
                    <h4> Owner: <p>{{user?.userName}}</p>
                    </h4>
                </div>
            </div>
        </a>
    </div>
</div>