<div class="album-card">
    <div class="album-card-border">
        <a routerLink="/photos/{{album['id']}}">
            <img class="album-card-image" src="https://via.placeholder.com/150/{{(user!=undefined)?user['id']:'00'}}00"/>
            <div class="text-container">
                <div title="album.title">
                    <h4 id="albumTitle">Title: <p id="albumTitleValue">{{album?.title}}</p>
                    </h4>
                </div>
                <div title={userName}>
                    <h4 id="albumOwner"> Owner: <p id="albumOwnerValue">{{user?.username}}</p>
                    </h4>
                </div>
            </div>
        </a>
    </div>
</div>